html {
	background-image: url("wavegrid_@2X.png");
}
@font-face {
	font-family: myralewayfont;
	src: url(stylesheets/raleway/Raleway-Regular.ttf);
}
body {
	border: 2px solid black;
	border-radius: 5px;
	width:600px;
	vertical-align: middle;
	font-family: myralewayfont;
	margin: 0 auto;
	margin-top: 10px;
}
#header {
	background-color: #FFF876;
	text-align: center;
	width:600px;
	height:100px;
	padding-top: 15px;
	border-bottom: 2px solid black;
}
#topbanner {
	background-color:#5988CC;
	text-align: center;
	width:600px;
	height:30px;
	padding-top: 5px;
	border-bottom: 2px solid black;
}
#aboutme {
	background-color:#C7C6BB;
	vertical-align: middle;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
	width:560px;
}
#footer {
	border-top: 2px solid black;
	position: relative;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #FFF876;
}
div div {
	display:inline;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}