html {
	background-color: #EBE8E3;
}
@font-face {
	font-family: myralewayfont;
	src: url(../stylesheets/raleway/Raleway-Regular.ttf);
}
body {
	border: 2px solid black;
	width:600px;
	border-radius: 1px;
	vertical-align: middle;
	font-family: myralewayfont;
	margin: 0 auto;
	margin-top: 10px;
}
#header {
	background-color: #A6CC4A;
	text-align: center;
	width:600px;
	height:100px;
	padding-top: 15px;
	border-bottom: 2px solid black;
}
#topbanner {
	background-color:#E85;
	text-align: center;
	width:600px;
	height:30px;
	padding-top: 2px;
	border-bottom: 2px solid black;
}
#aboutme {
	background-color:#858471;
	vertical-align: middle;
	text-indent: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width:600px;
	height:100px;
}
#footer {
	border-top: 2px solid black;
	position: relative;
	text-align: center;
	background-color: #A6CC4A;
}
div div {
	display:inline;
	text-align: center;
}